certifi>=14.05.14 # MPL
six>=1.9.0  # MIT
python-dateutil>=2.8.2  # BSD
setuptools>=21.0.0  # PSF/ZPL
pyyaml>=5.4.1  # MIT
google-auth>=1.0.1  # Apache-2.0
websocket-client>=0.32.0,!=0.40.0,!=0.41.*,!=0.42.* # LGPLv2+
requests # Apache-2.0
requests-oauthlib # ISC
oauthlib>=3.2.2 # BSD
urllib3>=2.1.0,<3.0.0  # MIT
durationpy>=0.7 # MIT
pydantic>=2 # MIT
lazy-imports>=1,<2 # Apache-2.0
typing-extensions>=4.7.1 # PSF
